.body {
  font-family: "Poppins", sans-serif;
}

.header {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
}

.header__top {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  justify-content: space-around;
  text-decoration: none;
}

.header__menu__display__button {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  display: none;
  padding: 3px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.header__top__menu {
  display: block;
}

.header__top__menu__items {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__top__link {
  color: black;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.header__top__logo {
  width: 260px;
  background-image: image-url('images/logo.png');
  background-image: image-url('images/logo.svg');
  background-size: cover;
  height: 60px;
  margin: 20px 0;
}

.header__bottom {
  align-items: center;
  background: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__bottom__social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__bottom__social-icon {
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.header__bottom__contact-info__phone,
.header__bottom__contact-info__email {
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.header__bottom__contact-info__icon {
  padding: 10px;
}

@media only screen and (max-width: 625px) {
  .header__top {
    flex-direction: column;
  }

  .header__menu__display__button {
    display: block;
  }

  .header__top__menu {
    display: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
  }

  .is-visible {
    display: block;
    height: auto;
    opacity: 1;
  }

  .header__top__menu__items {
    flex-direction: column;
    padding: 0;
  }

  .header__bottom {
    flex-direction: column;
  }

  .header__bottom__social-icons {
    font-size: 25px;
    justify-content: space-around;
    margin: 5px;
    padding: 0;
    width: 50%;
  }

  .header__bottom__contact-info__phone,
  .header__bottom__contact-info__email {
    font-weight: normal;
  }
}

@media only screen and (max-width: 455px) {
  .header__bottom__contact-info {
    display: flex;
    flex-direction: column;
  }

  .header__bottom__contact-info__phone,
  .header__bottom__contact-info__email {
    padding: 0;
  }
}
