<footer class="footer">
  <div class="footer__row">
    <div class="footer__brand">
      <a href="">
        <div class="footer__brand__logo"></div>
      </a>
      <p class="footer__brand__tag-line">Set, Rest & Collect</p>
    </div>

    <div class="footer__nav">
      <h3 class="footer__nav__heading">Links</h3>
      <ul class="footer__nav__links">
        <li class="footer__nav__links__item"><a class="footer__nav__links__item__link" href="index.html">Home</a></li>
        <li class="footer__nav__links__item"><a class="footer__nav__links__item__link" href="about.html">About</a></li>
        <li class="footer__nav__links__item"><a class="footer__nav__links__item__link" href="faq.html">FAQ</a></li>
        <li class="footer__nav__links__item"><a class="footer__nav__links__item__link" href="contact_us.html">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer__contacts">
      <h3 class="footer__contacts__heading">Contacts</h3>
      <p class="footer__contacts__city">Sydney, New South Wales, Australia</p>
      <a class="footer__contacts__contact-info__phone" href="tel:1300 613 456">
        <span class="footer__contacts__contact-info__icon icon-phone"></span>
        1300 613 456
      </a>
      <a class="footer__contacts__contact-info__email" href="mailto:mel@yourbnbhosts.com.au">
        <span class="footer__contacts__contact-info__icon icon-envelope-o"></span>
        mel@yourbnbhosts.com.au
      </a>
      <a class="footer__contacts__social-icon" href="https://www.facebook.com/yourbnbhosts">
        <span class="icon-facebook"></span>
        facebook
      </a>
      <a class="footer__contacts__social-icon" href="https://twitter.com/YHosts">
        <span class="icon-twitter"></span>
        twitter
      </a>
      <a class="footer__contacts__social-icon" href="https://www.instagram.com/yourbnbhosts/">
        <span class="icon-instagram"></span>
        instagram
      </a>
    </div>
  </div>

  <div class="footer__copyright">
    copyright &copy; 2018 www.yourbnbhosts.com.au
  </div>
</footer>
