<header class="header">
  <div class="header__top">
    <a href="index.html">
      <div class="header__top__logo" >
      </div>
    </a>

    <nav class="header__top__menu">
      <ul class="header__top__menu__items">
        <li><a class="header__top__link" href="index.html">Home</a></li>
        <li><a class="header__top__link" href="about.html">About</a></li>
        <li><a class="header__top__link" href="faq.html">FAQ</a></li>
        <li><a class="header__top__link" href="contact_us.html">Contact Us</a></li>
      </ul>
    </nav>
  </div>

  <div class="header__menu__display__button">menu</div>

  <div class="header__bottom">
    <ul class="header__bottom__social-icons">
      <li>
        <a class="header__bottom__social-icon" href="https://www.facebook.com/yourbnbhosts">
          <span class="icon-facebook"></span>
        </a>
      </li>
      <li>
        <a class="header__bottom__social-icon" href="https://twitter.com/YHosts">
          <span class="icon-twitter"></span>
        </a>
      </li>
      <li>
        <a class="header__bottom__social-icon" href="https://www.instagram.com/yourbnbhosts/">
          <span class="icon-instagram"></span>
        </a>
      </li>
    </ul>

    <div class="header__bottom__contact-info">
      <a class="header__bottom__contact-info__phone" href="tel:1300 613 456">
        <span class="header__bottom__contact-info__icon icon-phone"></span>
        1300 613 456
      </a>
      <a class="header__bottom__contact-info__email" href="mailto:mel@yourbnbhosts.com.au">
        <span class="header__bottom__contact-info__icon icon-envelope-o"></span>
        mel@yourbnbhosts.com.au
      </a>
    </div>
  </div>
</header>
