---
title: Your BnB Host - About Us
---

<div class="about">
  <h1>about us</h1>

  <div class="about__content">
    <div class="about__write-up">

      <h2 class="about__names">Mel & Maddy</h2>

      <h3 class="about__title">Your BnB Hosts Founders</h3>

      <p>
        Mel and Maddy are well-travelled hosts who understand the importance of
        great guest experiences. They provide 5-star accommodation and service to
        ensure guests are comfortable and well-taken care of. Maddy is a licensed
        real-estate agent and both he and Mel love managing their Airbnb business.
        Their aim is to exceed all the requirements to become Airbnb Superhosts
        very quickly.
      </p>

      <blockquote class="about_call-to-action">
        <a href="contact_us.html">
          Contact Mel and Maddy
        </a>
        today to see how Your BnB Hosts can help you!
      </blockquote>
    </div>

    <div class="about__image">
      <img class="about__image__img" src="images/mel_and_mandeep.jpg" alt="mel and mandeep" />
    </div>
  </div>
</div>
