---
title: Your BnB Host - Contact Us
---

<div class="contact">

  <h1>Contact Us</h1>
  <div class="contact__message">
    Please let us know if you have a question, want to leave a comment or would
    like further information.
  </div>

  <div class="contact__details">
    <h3>Contact details</h3>
    <p class="contact__details__city">Sydney, New South Wales, Australia</p>
    <a class="contact__details__phone" href="tel:1300 613 456">
      <span class="icon-phone"></span>
      1300 613 456
    </a>
    <a class="contact__details__email" href="mailto:mel@yourbnbhosts.com.au">
      <span class="icon-envelope-o"></span>
      mel@yourbnbhosts.com.au
    </a>
  </div>

  <div class="contact__form-section">
    <form action="https://formspree.io/jason.data@roadbytes.me" method="POST" class="contact__form-section__form" >
      <input class="contact__form-section__form__input" type="text" name="name" placeholder="First Name">
      <input class="contact__form-section__form__input" type="email" name="_replyto" placeholder="Email">
      <input class="contact__form-section__form__input" type="tel" name="_phone" placeholder="Phone">
      <input class="contact__form-section__form__input" type="text" name="_subject" placeholder="Subject">
      <textarea class="contact__form-section__form__textarea" name="_message" placeholder="Your Message"></textarea>
      <input class="contact__form-section__form__submit" type="submit" value="Send Request" >
    </form>
  </div>
</div>
