---
title: Your BnB Host - FAQ
---

<div class="faq">
  <h1>faq</h1>

  <h2 class="faq__question">What does Your BnB Hosts do?</h2>

  <p>
    Your BnB Hosts manage an Airbnb portfolio with the view to become
    <a href="https://www.airbnb.com.au/superhost">Superhosts</a> through
    property management.
  </p>

  <h2 class="faq__question">What type of properties do you manage?</h2>

  <p>
    All types, apartments and houses, townhouses or granny flats. Most of our
    properties are located in tourist areas around Australia, popular wedding
    locations, popular corporate hubs and anything close to the CBD.
  </p>

  <h2 class="faq__question">What is an Airbnb Superhost?</h2>

  <p>
    <a href="https://www.airbnb.com.au/superhost">Superhosts</a> are
    experienced hosts who provide a shining example for other hosts, and
    extraordinary experiences for their guests. There is a strict qualification
    that needs to be met quarterly to continue as a Superhost.
  </p>

  <h2 class="faq__question">What happens if a guest damages the property?</h2>

  <p>
    All our listings have strict rules of no parties or bucks/hens weekends.
    Our strict sifting and qualifying formula for the “right” kind of tenants
    reduce the risk of anything like this happening. The Airbnb Host Guarantee
    also protects hosts up to $1,000,000 should accidents happen.
  </p>

  <h2 class="faq__question">Why would I rent to you rather than a tenant?</h2>

  <p>
    All our listings are cleaned by professional cleaners after each booking,
    meaning it will be spick and span regularly. We have a no parties rule and
    we need the property in working order and therefore will ensure all
    maintenance is done in a timely manner (at the owners’ cost)
  </p>

  <ul>
    <li>No more paying management fees</li>
    <li>No worrying about vacancies or tenants moving out</li>
    <li>No advertising fees</li>
  </ul>

  <p>It really is a Set, Rest and Collect formula for you.</p>

  <h2 class="faq__question">Can you look after a property in my area? </h2>

  <p>
    We can look after any property in all areas of Australia as long as it fits
    our model. We have systems and managers in place in all areas of Australia
    to help you Set, Rest and Collect.
  </p>

  <h2 class="faq__question">How do I get started?</h2>

  <p>
    Please reach out via our ‘contact us’ page or any of our contact details.
    We will contact you immediately to find out more about your property and
    your personal wants and needs. We will answer any of your questions and
    make sure your property is a good fit for us and we are a good fit for you.
    From there it can really be your ideal Set, Rest and Collect. If you would
    like to meet in person we can also arrange one of our Your BnB Host
    managers to meet with you to view the property. Our business is built on
    trust, relationships and results.
  </p>
</div>
