---
title: Your BnB Host
---

<div class="home">
  <div class="home__top">
    <div class="home__top__call-to-action">
      <h1 class="home__top__call-to-action__phrase">
        Set, Rest & Collect
      </h1>
      <div class="home__top__call-to-action__button">
        <a class="home__top__call-to-action__button__link" href="faq.html">Learn more</a>
      </div>
    </div>
    <div class="home__top__contact">
      <h2 class="home__top__contact__header">
        Let's Chat
      </h2>
      <form action="https://formspree.io/jason.data@roadbytes.me" method="POST" class="home__top__contact__form" >
        <input class="home__top__contact__form__input" type="text" name="name" placeholder="First Name">
        <input class="home__top__contact__form__input" type="email" name="_replyto" placeholder="Email">
        <input class="home__top__contact__form__input" type="tel" name="_phone" placeholder="Phone">
        <input class="home__top__contact__form__input home__top__contact__form__input--submit" type="submit" value="Send Request" >
      </form>
    </div>
  </div>
  <div class="home__marketing-copy">
    <h2 class="home__marketing-copy__header">
      Reasons to Partner with Us
    </h2>
    <ul class="home__marketing-copy__list">
      <li class="home__marketing-copy__list__item">
        Your property will be looked after better than any other tenant
      </li>
      <li class="home__marketing-copy__list__item">
        Set, Rest & Collect with peace of mind
      </li>
      <li class="home__marketing-copy__list__item">
        No more agent fees
      </li>
      <li class="home__marketing-copy__list__item">
        No parties allowed
      </li>
    </ul>
  </div>
</div>
